body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; 
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #1e90ff; 
    color: white;
    width: 60%;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1, .container h2, .container h6 {
    margin: 20px 0;
}

.container p {
    line-height: 1.6;
    margin: 10px 0;
}

.link-container {
    width: 60%;
    margin: 20px auto;
    text-align: left;
}

.list-container {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: square;
    margin: 10px 0;
}

ol {
    list-style-type: lower-alpha;
    margin: 10px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #1e90ff;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #1e90ff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f0f8ff;
}

form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #1e90ff;
}

form input[type="text"], form input[type="email"], form input[type="password"], form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.checkbox-container {
    margin: 10px 0;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"], form input[type="reset"] {
    width: calc(50% - 12px);
    padding: 12px;
    margin: 20px 6px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #005bb5;
}

form h3 {
    margin-top: 20px;
}